@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&display=swap');
 
html, body{
  height: 100%;
}

/* body{
  font-family: 'Baloo Paaji', cursive;
  background: #1e90ff ;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.container_texto{
  /* background: coral; */
  font-family: 'Jost', sans-serif;
  width: 400px;
  height: 350px;
  position: relative;/* ????????????????????????? */
  top: 5rem;
  left: 15%;
}

h1, h2{
  font-size: 75px;
  text-transform: uppercase;
  text-shadow: -1px 3px 3px rgba(50, 50, 0, 0.2);
}  
  
.texto {
  width: 100%;
  float: left;
  color: #ffffff;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  transform: translateY(-50px);
  opacity: 0;
  -webkit-animation-name: titleAnimation;
          animation-name: titleAnimation;
  -webkit-animation-timing-function:ease;
          animation-timing-function:ease;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

.primero span{
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.primero span:first-child{
    -webkit-animation-delay: 1.7s;
            animation-delay: 1.7s;
}

.primero span:last-child{
    color:#ffe221;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
}

.segundo{ 
  top: 0;
  position: absolute;
}  
.segundo span{
  -webkit-animation-duration: 3.8s;
          animation-duration: 3.8s;
  -webkit-animation-delay: 4.1s;
          animation-delay: 4.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;   
}
.segundo span:first-child{
  -webkit-animation-duration: 3.8s;
          animation-duration: 3.8s;
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}
.segundo strong{
  color: #ffe221;
  letter-spacing: 3px;
}
.segundo span:last-child{ 
  -webkit-animation-duration: 3.8s; 
          animation-duration: 3.8s; 
  -webkit-animation-delay: 4.3s; 
          animation-delay: 4.3s;      
}

.tercero{ 
    top: 0;
    position: absolute;
  }  
  .tercero span{
      -webkit-animation-delay: 9.1s;
              animation-delay: 9.1s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
  }
  .tercero span:first-child{
        -webkit-animation-delay: 9.2s;
                animation-delay: 9.2s;
  }
  
  .tercero span:last-child{
        color: #ffe221;
        -webkit-animation-delay: 9s;
                animation-delay: 9s;
  }



@-webkit-keyframes titleAnimation {
    0% {
      transform: translateY(-50px);
      opacity: 0;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
      transform: translateY(0);
      opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
       transform: translateY(0);
       opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
       transform: translateY(50px);
       opacity: 0;
      -webkit-clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
      clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
    
  }
}



@keyframes titleAnimation {
    0% {
      transform: translateY(-50px);
      opacity: 0;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
      transform: translateY(0);
      opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
       transform: translateY(0);
       opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
       transform: translateY(50px);
       opacity: 0;
      -webkit-clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
      clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
    
  }
}



@media only screen and (max-width: 450px) {
  .container_texto{
    /* background: rgb(121, 255, 80); */
    width: 90vw;
    height: 55vh;
    top: 6rem;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1, h2{
    font-size: 40px;
    padding: 0.5em;
    margin-left: 5%;
  }

  /* Adaptacion de Animation */

  .primero span{
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  
  .primero span:first-child{
      -webkit-animation-delay: 0.7s;
              animation-delay: 0.7s;
  }
  
  .primero span:last-child{
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s;
  }

  .segundo span{
      -webkit-animation-delay: 4.1s;
              animation-delay: 4.1s;
  }
  .segundo span:first-child{
        -webkit-animation-delay: 4.2s;
                animation-delay: 4.2s;
  }

  .segundo span:last-child{
        -webkit-animation-delay: 4s;
                animation-delay: 4s;
  } 
    .tercero span{
        -webkit-animation-delay: 8.1s;
                animation-delay: 8.1s;
    }
    .tercero span:first-child{
          -webkit-animation-delay: 8.2s;
                  animation-delay: 8.2s;
    }
    
    .tercero span:last-child{
          -webkit-animation-delay: 8s;
                  animation-delay: 8s;
    }
}

/* --------------------MediaQuery-------------------- */
@media only screen and (min-width: 760px){
  .texto{
    font-size: 60px;
  
  }  

}
