@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background: rgb(168,208,230 );
}

.container_chica{
  /* background: rgba(255, 0, 0, 0.294); */
  width: 1000px;
  height: 800px;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 30%;
}
section{
  width: 100%;
  height: 100%;
}
.section-img{
  width: 100%;
  position: absolute;
  /*  right: 20%;
  top: 10%; */
  z-index: -1;
  opacity: 0;
  animation: bounceIn 1s 6s forwards ;
}
.window{
  position: absolute;
  z-index: -1;
  width: 80%;
  height: 70%;
  /* background: rgb(53, 83, 137); */
  border-radius: 33% 40% 60% 20% / 60% 40% 45% 25%;
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.164),
    inset 0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.16);
  animation:bounceIn 1s 6s forwards, bg_window 20s 6s infinite;
}

 /* filter: saturate(50%); */ /* para animar la imagen noche y dia */

.sillon{
  z-index: 0;
  animation: fadeInDownBig 0.5s 7s forwards, shakeX .12s 7.3s;
}
.sillon_delante{
  z-index: 2;
  animation: fadeInDownBig 0.5s 7s forwards, shakeX .12s 7.3s;
}
.chica{
  z-index: 1;
  animation-delay: 8s;
}
.planta{
  animation: fadeInDownBig 0.9s 9s forwards, shakeX .12s 9.5s;
}


.container_bocadillo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  width: 12em;
  top: 30%;
  right: 40%;
}



.container_bocadillo,.container_bocadillo::after,.container_bocadillo::before{
  background: rgb(255, 255, 255);
  box-shadow: -1px 6px 3px rgba(50, 50, 0, 0.2);
  border-radius: 10px;
  position: absolute ;
  z-index: 1;
  opacity: 0;
  animation: bounceIn 1s 21s forwards ;
}

.container_bocadillo::after{
  content: '';
  width: 2em;
  height: .7em;
  top: 105%;
  right: 5%;
}
.container_bocadillo::before{
  content: '';
  width: .7em;
  height: .7em;
  border-radius: 50%;
  top: 125%;
  right: 10%;
}
.bocadillo p {
  color: #774f38;
  font-family: "Baloo 2", cursive;
  font-weight: bold;
  /* font-family: monospace; */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s 21s steps(30, end),
    blink-caret .5s 21s step-end infinite;
}



/* ----------------------------ANIMACIONES---------------------------- */
@keyframes bg_window{
  0%{
    background:rgb(0, 14, 54);
  }
  40%{
      background:rgb(123, 220, 255) ;
  }
  100%{
    background:rgb(0, 14, 54);
  }
}


@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shakeX {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}