@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background: rgb(140, 206, 241);
}
html{
  height: 100vh;
}

/* ----------TABS---------- */
[data-content]{  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  display: none;
}

.active[data-content]{
  display: block;
}
/* ----------------------------------------------------------------- */

