@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

/* $primary-color: #1e90ff ;
$secondary-color: #ffe221;
$tertiary-color: #ffffff; */
  
html, body{
  height: 100%;
}

/* body{
  font-family: 'Baloo Paaji', cursive;
  background: #1e90ff ;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.container_texto{
  /* background: coral; */
  font-family: 'Baloo Paaji', cursive;
  width: 400px;
  height: 220px;
  position: relative;
  top: 10%;
  left: 15%;

}

h1, h2{
  font-size: 75px;
  text-transform: uppercase;
}  
  
.texto {
    width: 100%;
    float: left;
    color: #ffffff;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    transform: translateY(-50px);
    opacity: 0;
    animation-name: titleAnimation;
    animation-timing-function:ease;
    animation-duration: 3s;
}

.primero span{
  animation-delay: 11.6s;
  animation-fill-mode: forwards;
}

.primero span:first-child{
    animation-delay: 11.7s;
}

.primero span:last-child{
    color:#ffe221;
    animation-delay: 11.5s;
}

.segundo{ 
  top: 0;
  position: absolute;
}  
.segundo span{
    animation-delay: 15.1s;
    animation-fill-mode: forwards;
}
.segundo span:first-child{
      animation-delay: 15.2s;
}
.segundo strong{
  color: #ffe221;
}
.segundo span:last-child{
     
      animation-delay: 15s;
}

.tercero{ 
    top: 0;
    position: absolute;
  }  
  .tercero span{
      animation-delay: 19.1s;
      animation-fill-mode: forwards;
  }
  .tercero span:first-child{
        animation-delay: 19.2s;
  }
  
  .tercero span:last-child{
        color: #ffe221;
        animation-delay: 19s;
  }



@keyframes titleAnimation {
    0% {
      transform: translateY(-50px);
      opacity: 0;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
      transform: translateY(0);
      opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
       transform: translateY(0);
       opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
       transform: translateY(50px);
       opacity: 0;
      -webkit-clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
      clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
    
  }
}

