.window{
    overflow: hidden;
    position: absolute;
    z-index: 4;
    margin: 1em;
    z-index: -1;
    width: 80%;
    height: 70%;
    /* background: rgb(53, 83, 137); */
    border-radius: 33% 40% 60% 20% / 60% 40% 45% 25%;
    box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.164),
      inset 0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.16);
    animation:bounceIn 1s 19s forwards, bg_window 20s 19s infinite;
}

.moon {
    position: absolute;
    top: 90px;
    right: 150px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #eee;
    box-shadow: 0 0 25px rgba(255, 255, 200, 0.8),
      0 0 1px 15px rgba(82, 115, 159, 0.7), 0 0 1px 40px rgba(82, 115, 149, 0.45),
      0 0 1px 90px rgba(82, 115, 149, 0.3), 0 0 1px 160px rgba(92, 115, 149, 0.1);
    animation: sun 20s 19s infinite;  
  }
  .moon:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ccc;
    top: 15px;
    left: 8px;
    box-shadow: 5px -12px 0 -2px #ccc, 4px 10px 0 -4px #ccc;
    animation: hide 20s 15s infinite;
    -webkit-animation:hide 20s 15s infinite;
  }
  .star {
    height: 3px;
    width: 3px;
    background-color: rgb(123, 220, 255);
    position: absolute;
    z-index: 4;
    top: 160px;
    left: 120px;
    border-radius: 50%;
    opacity: 0.1;
    box-shadow: 80px 120px 0 rgb(123, 220, 255), 280px 150px 0 rgb(123, 220, 255);
    animation: twinkle 2s infinite;
    -webkit-animation:twinkle 2s infinite;
  }
  @keyframes twinkle {
    50% {
      opacity: 1;
    }
  }
  @-webkit-keyframes twinkle {
    50% {
      opacity: 1;
    }
  }


  .star2 {
    height: 3px;
    width: 3px;
    background-color: rgb(123, 220, 255);
    position: absolute;
    top: 250px;
    left: 100px;
    border-radius: 50%;
    box-shadow: 110px -110px 0 rgb(123, 220, 255), 290px -100px 0 rgb(123, 220, 255);
    animation-delay: 0.3s;
  }
  .star3 {
    height: 3px;
    width: 3px;
    background-color: rgb(123, 220, 255);
    position: absolute;
    top: 210px;
    left: 170px;
    border-radius: 50%;
    box-shadow: 160px -70px 0 rgb(123, 220, 255), -170px 50px 0 rgb(123, 220, 255);
    animation-delay: 0.6s;
  }
  .shooting-star {
    position: absolute;
    height: 1px;
    width: 70px;
    background: linear-gradient(
      90deg,
      rgba(200, 200, 255, 0.1),
      rgba(220, 220, 255, 0.6)
    );
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    top: 30px;
    left: 50px;
    border-radius: 100%;
    opacity: 0;
    animation: shoot 6s linear infinite, hide 20s 15s infinite;
    -webkit-animation: shoot 6s linear infinite, hide 20s 15s infinite;
  }
  @keyframes shoot {
    25% {
      transform: rotate(35deg) translate(880px, 0);
    }
    100% {
      transform: rotate(35deg) translate(880px, 0);
    }
  }
  @-webkit-keyframes shoot {
    25% {
      -webkit-transform: rotate(35deg) translate(880px, 0);
    }
    100% {
      -webkit-transform: rotate(35deg) translate(880px, 0);
    }
  }

  @keyframes bg_window{
    0%{
      background:rgb(0, 14, 54);
    }
    40%{
        background:rgb(123, 220, 255) ;
    }
    100%{
      background:rgb(0, 14, 54);
    }
  }

  @keyframes sun {
      0%{
        background: #eee;
        box-shadow: 0 0 25px rgba(255, 255, 200, 0.8),
        0 0 1px 15px rgba(82, 115, 159, 0.7), 0 0 1px 40px rgba(82, 115, 149, 0.45),
        0 0 1px 90px rgba(82, 115, 149, 0.3), 0 0 1px 160px rgba(92, 115, 149, 0.1);
      }
      10%{
        background:rgba(251, 251, 159, 0.9) ;
        box-shadow: 0 0 25px rgba(251, 251, 159, 0.9),
        0 0 1px 15px rgba(251, 251, 159, 0.9);
      }
      25%,35%{
        background:rgba(251, 251, 159, 0.9) ;
        box-shadow: 0 0 25px rgba(251, 251, 159, 0.9),
        0 0 1px 15px rgba(251, 251, 159, 0.8), 0 0 1px 40px rgba(251, 251, 159, 0.3),
        0 0 1px 90px rgba(251, 251, 159, 0.2), 0 0 1px 160px rgba(251, 251, 159, 0.1); 
      }
      60%{
        background:rgba(251, 251, 159, 0.9) ;
        box-shadow: 0 0 25px rgba(251, 251, 159, 0.2),
        0 0 1px 15px rgba(251, 251, 159, 0.1);  
      }
      70%{
        background: #eee;
        box-shadow: 0 0 25px rgba(255, 255, 200, 0.5),
        0 0 1px 15px rgba(82, 115, 159, 0.4); 
      }
      90%,100%{
        background: #eee;
        box-shadow: 0 0 25px rgba(255, 255, 200, 0.8),
        0 0 1px 15px rgba(82, 115, 159, 0.7), 0 0 1px 40px rgba(82, 115, 149, 0.45),
        0 0 1px 90px rgba(82, 115, 149, 0.3), 0 0 1px 160px rgba(92, 115, 149, 0.1);  
      }
  }

  @keyframes hide {
      0%{
        opacity: 1;
      }
      35%,80%{
        opacity: 0;
      }
      90%,100%{
        opacity: 1;
      }
  }


  @media only screen and (max-width:450px){
    .window{
        margin-top: 5em;
        width: 80%;
        height: 55%;
      }
      .star {
        height: 2px;
        width: 2px;
      }
      .shooting-star {
        top: 140px;
        left: 50px;
      }

  }