@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#curriculum{
  width: 100vw;
  height: 100vh;  
}
.wraper_cv{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(131, 204, 243);
  color: white;
  font-family: 'Jost', sans-serif;
  text-shadow: -1px 3px 3px rgba(50, 50, 0, 0.2);
  font-size: 1.6rem;
  font-weight: bold; 
}
.skills, .soft_skills{
  background: rgb(95, 192, 245);
  /* position: absolute; */
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 300px;
  height: 100vh;
  font-size: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.skills .titulo,.soft_skills .titulo {
  text-transform: uppercase;
  font-size: 1.7rem;
  letter-spacing: 0px;
  font-weight: bolder; 
  color: #fbdc12;
  margin-top: 2rem;
}

.skill{
  /* background: cornflowerblue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 230px;
  margin-top: .5rem;
}
.dots{
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dots div{
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
}
.soft_skills p{
  margin-top: .5rem;
}
.container_svg{
  /* background: #ffe221; */
  width: 900px;
  height: 100vh;
 /*  width: 50vw;
  height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen{
 /*  background: red; */
  position: absolute;
  z-index: 0;
  width: 800px;
  height: 90vh;
}
.imagen img{
  width: 100%;
  height: 100%;
}

.container_cerebro_svg{
  position: absolute;
 /*  background: chartreuse; */
 width: 900px;
 height: 100vh;
}
#cerebro_svg{
  /* background: rgba(255, 0, 0, 0.37); */
/*  position: absolute;
 top: 0;
 left: 0; */
  z-index: 1;
  width: 70%;
  height: 70%;
}

.cerebro_izq{
  animation: draw_izq 3s linear forwards, brillo_svg 0.7s 4s infinite;  
}
.cerebro_derch{
  animation: draw_derch 3s linear forwards, brillo_svg 0.7s 4s infinite;  
}
.cerebro_abajo{
  animation: draw_derch 3s linear forwards;
}

.cerebro_izq,.cerebro_derch,.cerebro_abajo{
  fill-opacity: 0; /* no se ve el interior, solo el borde que ponemos despues */
  stroke-width: 18px;
  stroke-dashoffset: 0;
  stroke-dasharray: 80000;
  /* stroke: rgb(255, 254, 254); */
}
.cerebro_neuronas{
  fill-opacity: 0; /* no se ve el interior, solo el borde que ponemos despues */
  stroke-width: 18px;
  stroke-dashoffset: 0;
  stroke-dasharray: 80;
  animation: draw_derch 3s 3s linear infinite,brillo_svg 0.7s 4s infinite;
}


/* --------------Animations---------------- */
@keyframes draw_izq {
  0%{
      stroke: rgb(255, 254, 254);
      stroke-dashoffset: 80000;
  }
  100%{
      stroke: rgb(255, 254, 254);
      stroke-dashoffset: 0;
  }
}

@keyframes draw_derch {
  0%{
      stroke: rgb(255, 254, 254);
      stroke-dashoffset: -80000;
  }
  100%{
      stroke: rgb(255, 254, 254);
      stroke-dashoffset: 0;
  }
}

 
@keyframes brillo_svg{
  0%{
    -webkit-filter:drop-shadow( 0 0 3px rgba(255, 255, 255, 0.5)) drop-shadow(0 0 10px rgba(255, 255, 255, 0.4)) ;
            filter:drop-shadow( 0 0 3px rgba(255, 255, 255, 0.5)) drop-shadow(0 0 10px rgba(255, 255, 255, 0.4));
  }
  20%{
    -webkit-filter:drop-shadow( 0 0 3px rgba(255, 255, 255, 0.5)) drop-shadow(0 0 10px rgba(255, 255, 255, 0.4)) drop-shadow(0 0 20px rgba(255, 255, 255, 0.3)) drop-shadow(0 0 40px #0ba9ca) 
    drop-shadow(0 0 70px #ffffff) drop-shadow(0 0 80px rgba(255, 255, 255, 0.15));
            filter:drop-shadow( 0 0 3px rgba(255, 255, 255, 0.5)) drop-shadow(0 0 10px rgba(255, 255, 255, 0.4)) drop-shadow(0 0 20px rgba(255, 255, 255, 0.3)) drop-shadow(0 0 40px #0ba9ca) 
            drop-shadow(0 0 70px #ffffff) drop-shadow(0 0 80px rgba(255, 255, 255, 0.15));
  }
  100%{
    -webkit-filter:drop-shadow( 0 0 3px rgba(255, 255, 255, 0.616)) drop-shadow(0 0 10px rgba(255, 255, 255, 0.459)) drop-shadow(0 0 20px rgba(255, 255, 255, 0.349)) drop-shadow(0 0 40px #0ba9ca) 
    drop-shadow(0 0 70px #ffffff) drop-shadow(0 0 100px rgba(255, 255, 255, 0.216));
            filter:drop-shadow( 0 0 3px rgba(255, 255, 255, 0.616)) drop-shadow(0 0 10px rgba(255, 255, 255, 0.459)) drop-shadow(0 0 20px rgba(255, 255, 255, 0.349)) drop-shadow(0 0 40px #0ba9ca) 
            drop-shadow(0 0 70px #ffffff) drop-shadow(0 0 100px rgba(255, 255, 255, 0.216));
  
  }
}




/* ----------------MediaQuery----------------- */
@media only screen and (max-width:768px){
  .wraper_cv{
    flex-direction: column;
    justify-content: space-between;
  }
  .skills, .soft_skills{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    font-size: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .soft_skills{
   position: relative;
  }
  .container_languages{
    margin-top: 3.5rem;
  }
  .container_svg{
    margin: 0 auto;
    width: 300px;
    height: 300px;
  }
  .imagen{
    /* background: crimson; */
    width: 260px;
    height: 260px;
  }
  .container_cerebro_svg{
    width: 300px;
    height: 300px;
  }
  .brillo{
    width: 50px;
    height: 10px;
    top: 40%;
  }
  #cerebro_svg{
    width: 100%;
    height: 100%;
  }
  .cerebro_izq,.cerebro_derch{
    stroke-width: 30px;
  }
  .skills .titulo, .soft_skills .titulo{
    font-size: 1rem;
    margin-top: 0;
    padding: 0.2rem 0;
  }
  .dots{
    width: 55px;
  }
  .dots div{
    width: 7px;
    height: 7px;
  }
  .skill{
    width: 150px;
    margin-top: .2rem;
  }



}
