#inicio_chica{
    width: 100%;
    height: 100%;
  }
.container_chica{
    /* background: rgba(255, 0, 0, 0.294); */
    max-width: 1100px;
    max-height: 900px;
    width: 60vw;
    height: 80vh;
    overflow: hidden;
    position: absolute;
    bottom: 10%;
    right: 20%;
    left: 25%;
  }
  .section-img{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0; /* Firefox */
    -webkit-animation:bounceIn 1s 6s forwards; /* Safari and Chrome */ /* Opera */
    animation: bounceIn 1s 6s forwards ;
  }
  .window{
    /*see window.css  */
    /*see animation down */
  }

  .chica{
    bottom: 0;
    z-index: 1;
   /*see animation down */
  }
  .container_bocadillo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: auto;
    top: 40%;
    right: 40%; 
    transition: -webkit-animation  .7s; 
    transition: animation  .7s; 
    transition: animation  .7s, -webkit-animation  .7s;
    /*see animation down */
  }
  .container_bocadillo,.container_bocadillo::after,.container_bocadillo::before{
    background: rgb(255, 255, 255);
    box-shadow: -1px 6px 3px rgba(50, 50, 0, 0.2);
    border-radius: 10px;
    position: absolute ;
    z-index: 1;
    opacity: 0;
  }
  
  .container_bocadillo::after{
    content: '';
    width: 2em;
    height: .7em;
    top: 110%;
    right: 12%;
    /*see animation down */
  }
  .container_bocadillo::before{
    content: '';
    width: .7em;
    height: .7em;
    border-radius: 50%;
    top: 130%;
    right: 6%;
    /*see animation down */
  }
  .bocadillo p {
    color: #774f38;
    font-size: .7rem;
    font-family: "Baloo 2", cursive;
    font-weight: bold;
    /* font-family: monospace; */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s 19s steps(30, end),
      blink-caret .5s 19s step-end infinite;
      -moz-animation: typing 3.5s 19s steps(30, end),
      blink-caret .5s 19s step-end infinite; /* Firefox */
      -webkit-animation: typing 3.5s 19s steps(30, end),
      blink-caret .5s 19s step-end infinite; /* Safari and Chrome */
      -o-animation: typing 3.5s 19s steps(30, end),
      blink-caret .5s 19s step-end infinite; /* Opera */
  }
  
  
  
  /* ----------------------------ANIMACIONES---------------------------- */
  @-webkit-keyframes bg_window{
    0%{
      background:rgb(0, 14, 54);
    }
    40%{
        background:rgb(123, 220, 255) ;
    }
    100%{
      background:rgb(0, 14, 54);
    }
  }
  @keyframes bg_window{
    0%{
      background:rgb(0, 14, 54);
    }
    40%{
        background:rgb(123, 220, 255) ;
    }
    100%{
      background:rgb(0, 14, 54);
    }
  }
  
  
  @-webkit-keyframes fadeInDownBig {
    0% {
      opacity: 0;
      transform: translate3d(0, -2000px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  
  @keyframes fadeInDownBig {
    0% {
      opacity: 0;
      transform: translate3d(0, -2000px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  @-webkit-keyframes shakeX {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(10px, 0, 0);
    }
  }
  
  @keyframes shakeX {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(10px, 0, 0);
    }
  }
  
  @-webkit-keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }
  
  
  @-webkit-keyframes appear {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  
  
  @keyframes appear {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  
  /* The typing effect */
  @-webkit-keyframes typing {
    from {
       width: 0
       }
    to {
       width: 100% 
      }
  }
  @keyframes typing {
    from {
       width: 0
       }
    to {
       width: 100% 
      }
  }
  
  /* The typewriter cursor effect */
  @-webkit-keyframes blink-caret {
    from, to { 
      border-color: transparent
     }
    50% {
       border-color: orange
     }
  }
  @keyframes blink-caret {
    from, to { 
      border-color: transparent
     }
    50% {
       border-color: orange
     }
  }
  
  
  /*-------------- MediaQuery-------------- */

  @media only screen and (max-width:1024px){
    .bocadillo p {
      font-size: 0.7em;
    }
    .container_bocadillo{
      top: 47%;
      right: 35%;
      padding: 1em;
    }
    .bocadillo p {
      font-size: 0.7em;
    }
    .container_bocadillo::after{
      width: 1em;
      height: .3em;
      top: 115%;
    }
    .container_bocadillo::before{
      width: .3em;
      height: .3em;
      top: 137%;
    }
  }

  
  @media only screen and (max-width: 768px) and ( orientation: portrait){
    .container_chica{
      /* background: rgba(234, 0, 255, 0.294); */
      width: 80vw;
      height: 60vh;
      position: absolute;
      top: 20%;
      left: 10%;
    }
    .chica{
      width: 100%;
      right: 0;
      bottom: 2rem;
    } 
    .container_bocadillo{
      top: 47%;
      right: 30%;
      padding: 1em;
    }
   
  }
  
  
  @media only screen and (max-width:450px) and ( orientation: portrait){ 
  
    body{
      overflow: hidden;
    }
    .container_chica{
      /* background: rgba(234, 0, 255, 0.294); */
      width: 100vw;
      height: 600px;
      position: absolute;
      top: 5rem;
      left: 0;
    }
    .planta{
      width: 160%;
      bottom: 2rem;
    }
    .chica{
      width: 100%;
      right: 0;
      bottom: 2rem;
    }
    .container_bocadillo{
      top: 47%;
      right: 45%;
      padding: 1em;
    }
    .bocadillo p {
      font-size: 0.7em;
    }
    .container_bocadillo::after{
      width: 1em;
      height: .3em;
      top: 115%;
    }
    .container_bocadillo::before{
      width: .3em;
      height: .3em;
      top: 137%;
    }
  }
  
  /*------------- Animations------------- */
  
  
  .section-img{ /* Firefox */
    -webkit-animation:bounceIn 1s 6s forwards ; /* Safari and Chrome */ /* Opera */
    animation: bounceIn 1s 6s forwards ;
  }
  .window{ /* Firefox */
    -webkit-animation:bounceIn .7s 16s forwards, bg_window 20s 16s infinite; /* Safari and Chrome */ /* Opera */
    animation:bounceIn .7s 16s forwards, bg_window 20s 16s infinite;
  }
  .chica{
    -webkit-animation-delay: 16.8s;
            animation-delay: 16.8s;
  }
  .container_bocadillo{
    /*Firefox*/-webkit-animation:appear 0.7s 19s forwards;
   animation: appear 0.7s 19s forwards;
   
}
  .container_bocadillo::after{ /* Firefox */
    -webkit-animation:appear 0.7s 19.5s forwards; /* Safari and Chrome */ /* Opera */
    animation: appear 0.7s 19.5s forwards;
  }
  .container_bocadillo::before{
    /*Firefox*/-webkit-animation:appear 0.7s 20s forwards;
    /*SafariandChrome*//*Opera*/animation: appear 0.7s 20s forwards;
    -webkit-animation: appear 0.7s 20s forwards;
}

  /* .container_bocadillo,.container_bocadillo::after,.container_bocadillo::before{
    animation: bounceIn 1s 19s forwards ;
  } */
  
  /* .bocadillo p {
    animation: 
      typing 3.5s 19s steps(30, end),
      blink-caret .5s 19s step-end infinite;
  } */


  /* ------------HOME--active---------- */
  .section-img.active{ /* Firefox */
    -webkit-animation:bounceIn 1s 0.5 forwards ; /* Safari and Chrome */ /* Opera */
    animation: bounceIn 1s 0.5 forwards ;
  }

  .window.active{ /* Firefox */
    -webkit-animation:bounceIn .7s 1s forwards, bg_window 20s 1s infinite; /* Safari and Chrome */ /* Opera */
    animation:bounceIn .7s 1s forwards, bg_window 20s 1s infinite;
  }
  .chica.active{
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s;
  }
 

