.sillonConChica{
/*  background: salmon; */
    height: 500px;
    width: 500px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#sillon_svg{
    /* background: green; */
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
}

.container_planta{
   /*  background: rgb(194, 207, 2); */
    height: 400px;
    width: 400px;
    position: absolute;
    bottom: 0;
    left: 0; 
}
#planta_baja{
    /* background: rgba(255, 0, 0, 0.24); */
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;   
}

.sillon_uno,.sillon_dos,.planta_baja{
    fill-opacity: 0; /* no se ve el interior, solo el borde que ponemos despues */
    stroke-width: 18px;
    stroke-dashoffset: 0;
    stroke-dasharray: 80000;
}
.sillon_uno{ /* Firefox */
    -webkit-animation: draw 6s 11s ease-in-out forwards; /* Safari and Chrome */ /* Opera */
    animation: draw 6s 11s ease-in-out forwards;
}
.sillon_dos{ /* Firefox */
    -webkit-animation: draw 6s 11.5s ease-in-out forwards; /* Safari and Chrome */ /* Opera */
    animation: draw 6s 11.5s ease-in-out forwards;  
}

.planta_baja{ /* Firefox */
    -webkit-animation: draw 4s 13s linear forwards; /* Safari and Chrome */ /* Opera */
    animation: draw 4s 13s linear forwards;  
}

/* -----------Home active------------ */
.sillon_uno.active{
    /*Firefox*/-webkit-animation: draw 6s ease-in-out forwards;
    /*SafariandChrome*//*Opera*/animation: draw 6s ease-in-out forwards;
    -webkit-animation: draw 6s ease-in-out forwards;
}
.sillon_dos.active{
    -webkit-animation: draw 6s ease-in-out forwards;
    animation: draw 6s ease-in-out forwards;
    -webkit-animation: draw 6s ease-in-out forwards;
}

.planta_baja.active{ /* Firefox */
    -webkit-animation: draw 4s 1s linear forwards; /* Safari and Chrome */ /* Opera */
    animation: draw 4s 1s linear forwards;  
}
/* ---------------------CONTACTO-------------- */
#linkedin{
    width: 60%;
    padding: 3px;
}
#mail,#gitHub{
    width: 50%;
    fill: white;
}
#gitHub{
    width: 55%;
    fill: white;
}
.linkedin,.gitHub{
    fill-opacity: 0; /* no se ve el interior, solo el borde que ponemos despues */
    stroke-width: 18px;
    stroke-dashoffset: 0;
    stroke-dasharray: 80000;
    stroke: rgb(255, 254, 254);
}
.mail{
    stroke-width: 6px;  
}



/* --------------Animations---------------- */
@-webkit-keyframes draw {
    0%{
        stroke: rgb(255, 254, 254);
        stroke-dashoffset: 80000;
    }
    100%{
        stroke: rgb(255, 254, 254);
        stroke-dashoffset: 0;
    }
}
@keyframes draw {
    0%{
        stroke: rgb(255, 254, 254);
        stroke-dashoffset: 80000;
    }
    100%{
        stroke: rgb(255, 254, 254);
        stroke-dashoffset: 0;
    }
}

  /*-------------- MediaQuery-------------- */
  @media only screen and (max-width:1024px){
    #sillon_svg{
        /* background: green; */
        width: 260px;
        margin: 280px 0 0 140px;
        display: block;
    }
    
    #planta_baja{
        /* background: red; */
        width: 200px;
        bottom: -2rem;
    }
    .chica{
        width: 110%;
        right: 0;
        bottom: 1rem;
      } 
    .sillonConChica{
        width: 250px;
        height: 250px;
        bottom: 1rem;
    }
    #sillon_svg{
        /* background: green; */
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
    }
    .container_planta{
        /* background: rgb(194, 207, 2); */
        height: 200px;
        width: 150px;
        bottom: 3.2rem;
    }
    #planta_baja{
        /* background: rgba(255, 0, 0, 0.24); */
        width: 100%;
        height: 100%;

    }
  }
  @media only screen and (max-width:768px){
    #sillon_svg{
        /* background: green; */
        width: 260px;
        margin: 280px 0 0 140px;
        display: block;
    }
    
    #planta_baja{
        /* background: red; */
        width: 200px;
        bottom: -2rem;
    }
    .sillonConChica{
        width: 250px;
        height: 250px;
        bottom: 2rem;
    }
    #sillon_svg{
        /* background: green; */
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
    }
    .container_planta{
        /* background: rgb(194, 207, 2); */
        height: 200px;
        width: 150px;
        bottom: 3.2rem;
    }
    #planta_baja{
        /* background: rgba(255, 0, 0, 0.24); */
        width: 100%;
        height: 100%;

    }

  }


@media only screen and (max-width:450px){
    #sillon_svg{
        /* background: green; */
        width: 260px;
        margin: 280px 0 0 140px;
        display: block;
    }
    
    #planta_baja{
        /* background: red; */
        width: 100px;
        bottom: -2rem;
    }
    .sillonConChica{
        width: 250px;
        height: 250px;
        bottom: 2rem;
    }
    #sillon_svg{
        /* background: green; */
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
    }
    .container_planta{
        /* background: rgb(194, 207, 2); */
        height: 200px;
        width: 150px;
        bottom: 3.2rem;
    }
    #planta_baja{
        /* background: rgba(255, 0, 0, 0.24); */
        width: 100%;
        height: 100%;

    }
}


